.wrapper {
  margin: 3rem auto;
}

.category {
  margin: 3rem auto;
}

.image {
  margin: 2rem auto;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.25rem;
}

.list {
  margin-left: 1rem;
  line-height: 1.5;
}

.list li::marker {
  color: var(--foreground-detail);
}
