.wrapper {
  margin: 3rem auto;
}

.title {
  font-size: 1.25rem;
}

.list {
  margin-left: 1rem;
  line-height: 1.5;
}

.item {
  display: grid;
  grid-template-columns: 8rem 10rem 1fr;
  grid-template-areas: "date name description";
}

.list li::marker {
  color: var(--foreground-detail);
}

.date {
  grid-area: date;
  font-style: italic;
}

.description {
  grid-area: description;
  margin-left: 1rem;
}

@media screen and (max-width: 800px) {
  .item {
    grid-template-columns: 8rem 1fr;
    grid-template-areas:
      "date name"
      ". description";
  }

  .list li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .description {
    margin-left: inherit;
  }
}
