.logo {
  display: inline-block;
  margin-bottom: 1rem;
}

.logoDark {
  display: none;
}

.showMe {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  pointer-events: none;
}

.networks {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.networks li {
  list-style-type: none;
}

.networks li:not(:first-child):before {
  content: "\2022";
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .logoLight {
    display: none;
  }
  .logoDark {
    display: unset;
  }
}

@media screen and (max-width: 400px) {
  .networks {
    gap: unset;
    flex-direction: column;
  }

  .networks li:not(:first-child):before {
    content: unset;
    margin-right: 0;
  }
}
