.wrapper {
  margin: 3rem auto;
}

.title {
  font-size: 1.25rem;
}

.list {
  margin-left: 1rem;
  line-height: 1.5;
}

.item {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-areas: "date name";
}

.list li::marker {
  color: var(--foreground);
}

.date {
  grid-area: date;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .list li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
